<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>RECIPE SELECTOR AND ANALYZER</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
    </head>
    <body>
<header>
    <div class="main">
        <div class="logo">
            <h1>Recipe Selector and Analyzer</h1>
        </div>
        <ul>
            <li class="active"><a href="#">HOME</a></li>
            <li><a href="./complexsearch">COMPLEX SEARCH</a></li>
            <li><a href="./mealplans">MEAL GENERATOR</a></li>
        </ul>
    </div>
    <div class="title">
        <h1>WHAT IS RECIPE SELECTOR AND ANALYZER?</h1>
        <br>
        <br>
        <p class="thicker">If you do not know what to cook it is not a problem!</p>
        <br>
        <p class="thicker">Recipe Selector and Analyzer can give you a great opportunity to find the recipe of your dream.
            It can help you not only to find the recipes but also get the great analysis of the dishes. You can get recipes,
            look at their characteristics, nutrition composition and eventually decide what to cook!</p>
        <p class="thicker">There are two options that you can choose to search: Complex Search and Meal Generator.
            More about them you can find out above. Only click on the sections' names!</p>
    </div>
</header>
    </body>
</html>