<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>MEAL GENERATOR</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
<header>
    <div class="main">
        <div class="logo">
            <h1>Recipe Selector and Analyzer</h1>
        </div>
        <ul>
            <li><a href="./">HOME</a></li>
            <li><a href="./complexsearch">COMPLEX SEARCH</a></li>
            <li class="active"><a href="#">MEAL GENERATOR</a></li>
        </ul>
    </div>
    <div class="title">
        <h1>What is actually meal generator?</h1>
        <br>
        <p class="thicker"> MEAL GENERATOR can give you a great opportunity to get recipes for the day in a RANDOM WAY
            and find those that you will like to cook. </p>
        <br>
            <h1>How to use this option correctly?</h1>
            <br>
            <p class="thicker">When you go to the Meal Generator, you can see there the parameters by which you can search
                for the recipes: number of calories you want per day, diet, and ingredients
                to exclude. It is not ESSENTIAL to use them, you can immediately press the button to find the recipes.
                REMEMBER you can get only three recipes. After clicking on the button you will get comparative
                characteristics of the found recipes, ingredients that you need to cook the dishes, nutrition analysis
                of all recipes, and recipes’ links. As for the nutrition analysis, you will get the bar charts with the
                percents of daily needs of the nutrients that are in the dish. PLEASE KEEP IN MIND that the normal
                percent is considered in the range from 0 to 100, after 100 it is too much and it is not healthy!</p>
            <br>
            <p class="thicker">To use Meal generator press the button!</p>
    </div>
        <div class="button">
        <a href="./mealgenerator" class="btn">TRY IT</a>
    </div>
</header>
    </body>
</html>